@blue: #1c96ad;
@yellow: #fecf0b;


body{
  background: #ebebeb;
  font-family: 'Poppins', sans-serif;
}

header{
  .widget-area{
    background: url("../img/header-bg.png") center fixed;
    background-size: cover;
    padding: 30px 0;
    .logo{
      color: #060709;
      font-size: 22px;
      font-weight: 800;
      letter-spacing: 0.4px;
      text-transform: uppercase;
      img{
        width: 78px;
        height: 78px;
      }
    }
  }
  .navigation{
    background: white;
    box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.09);
    .nav{
      li{
        a{
          color: #060709;
          font-size: 14px;
          line-height: 24px;
          text-transform: uppercase;
          /* Text style for "N, ews ," */
          font-weight: 700;
          transition: all .5s ease;
          &:hover{
            background: transparent;
            color: #1c96ad;
          }
        }
      }
    }
    .search-form{
      height: 54px;
      .search-field{
        width: 300px;
        border: none;
        border-bottom: 2px solid black;
        display: none;
        line-height: 18px;
        padding: 15px;
        &:active, &:focus{
          outline: none;
        }
      }
      .search-submit{
        padding: 15px;
        background: transparent;
        border:none;
        font-size: 18px;
        height: 100%;
        &:active, &:focus{
          outline: none;
        }
        transition: all .5s ease;
        &:hover{
          color: @blue;
        }
      }
    }

  }
}
.yellow-button{
  color: #060709;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  padding: 17px 40px;
  letter-spacing: 0.4px;
  border-radius: 5px;
  background-color: #fecf0b;
  display: inline-block;
  transition: all .5s ease;
  text-align: center;
  &:hover{
    text-decoration: none;
    color: #1c96ad;
  }
  &:active, &:focus, &:visited{
    text-decoration: none;
    color: #060709;
  }
}

.section-header{
  box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  padding: 20px 25px;
  margin: 25px 0 10px;
  position: relative;
  &:before{
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 0 0 20px;
    border-color: transparent transparent transparent @blue;
    content: '';
  }
  .section-header-text{
    color: #060709;
    font-size: 17px;
    text-transform: uppercase;
  }
}
.press-relaeses-short{
  .press-release-item{
    position: relative;
    overflow: hidden;
    a{
      &:hover{
        text-decoration: none;
        img{
          transform: scale(1.1);
        }
        .press-release-title{
          color: @blue;
        }
      }
    }
    img{
      width: 392px;
      height: 252px;
      object-fit: cover;
      transition: all .5s ease;
    }
    .press-release-info{

      padding: 30px;
      position: absolute;
      bottom: 0;
      left: 0;

      right: 0;
      top: 0;
      background: rgba(0, 0, 0, .5);
      color: white;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-end;
      .press-release-title{
        display: block;
        font-weight: 700;
        font-size: 17px;

        transition: all .5s ease;
      }
      .date, .views{
        font-size: 14px;
        font-weight: 400;
        font-family: Inconsolata,sans-serif;
      }
      .views{
        margin-left: 25px;
      }
    }
  }
  .press-releases-links{
    margin-top: 10px;
    .yellow-button{
      font-weight: 600;
      text-align: center;
      width: 100%;
      border-radius: 0;
      box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.09);
      &:hover{
        color: white;
        background: @blue;
      }
    }
  }
}
.carousel-controls{
  margin-right: 20px;
  .left, .right{
    margin: 0 5px;
    i{
      display: table-cell;
      vertical-align: middle;
      color: #060709;
      font-size: 14px;
      width: 24px;
      height: 24px;
      text-align: center;
      border-radius: 50%;
      border: 1px solid #c6c6c6;
      transition: all .5s ease;

    }

    &:hover{
      cursor: pointer;
      i{
        background: @blue;
        color: @yellow;
        border: 1px solid @blue;
      }
    }

  }
}

.filter-toggle{
  display: table-cell;
  vertical-align: middle;
  i{
    font-size: 24px;
    color: #999999;
    padding-left: 25px;
    border-left: 1px solid #999999;
    transition: all .5s ease;
  }
  &:hover{
    cursor: pointer;
    i{
      color: @blue;
    }
  }
}
.categories-menu{
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      float: left;
      .active{
        color: #474747;
      }
      a{
        color: #888888;
        transition: all .5s ease;
        text-transform: uppercase;
        font-size: 14px;
        padding: 5px 10px;
        line-height: 24px;
        &:hover{
          color: #474747;
          text-decoration: none;
        }
        &:active, &:focus, &:visited{
          text-decoration: none;
        }
      }
    }
  }
}
.latest-news-list{
  box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  padding: 25px 10px;
  overflow: hidden;
  .latest-news-item{
    height: 315px;
    a{
      &:hover{
        text-decoration: none;
        .news-title{
          color: @blue;
        }
        img{
          transform: scale(1.1);
        }
      }
      .thumbnail{
        position: relative;
        overflow: hidden;
        img{
          width: 100%;
          height: 230px;
          object-fit: cover;
          transition: all .5s ease;
        }
        .news-cat{
          position: absolute;
          bottom: 0;
          right: 0;
          padding: 15px 30px;
          background: @blue;
          font-size: 14px;
          font-family: Inconsolata, sans-serif;
          font-weight: 700;
          color: white;
          letter-spacing: 0.35px;
          text-transform: uppercase;
        }
      }
      .news-title{
        color: #181818;
        font-size: 17px;
        font-weight: 700;
        line-height: 25px;
        margin: 10px 0;
        transition: all .5s ease;
        display: block;
      }
      .news-info{
        color: #888888;
        font-size: 12px;
        text-transform: uppercase;
        .author{
          margin-left: 25px;
        }
      }
    }
  }
}
.latest-news{

  .yellow-button{
    border-radius: 0;
    margin-top: 10px;
    margin-bottom: 60px;
    box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.09);
    &:hover{
      background: @blue;
      color: white;
    }
  }
}

.footer-widgets{
  background-color: #1f2124;
  padding: 50px 0;
  .custom-logo{
    width: 60px;
    height: 60px;
  }
  .footer-widget{
    color: #bec1c3;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: .33px;
    .widget-title{
      font-size: 17px;
      text-transform: uppercase;
      color: #ffffff;
      font-weight: 700;
    }
    .menu{
      list-style: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      margin-top: 10px;
      li{
        float: left;
        margin-right: 10px;
        a{
          padding: 5px;
          color: #bec1c3;
          font-size: 12px;
          transition: all .5s ease;
          &:hover{
            text-decoration: none;
            color: white;
          }
        }
      }
    }
  }
}

footer{
  background-color: #121314;
  padding: 30px 0;
  p{
    margin: 0;
  }
  .footer-widget{
    color: #ebebeb;
    font-size: 12px;
    text-transform: uppercase;
  }
  .menu{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    li{
      float: left;
      margin-right: 20px;
      a{
        color: #ebebeb;
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        transition: all .5s ease;
        &:hover{
          color: @blue;
          text-decoration: none;
        }
      }
    }
  }
}
.content{
  box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  padding: 30px 30px;
  color: #6f6f6f;
  font-size: 15px;
}
.page-title{
  color: #060709;
  font-size: 26px;
  font-weight: 700;
  margin: 30px 0;
  display: block;
}
.posts-container{
  box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  padding: 30px 15px 0;
  overflow: hidden;
  .item-post{
    height: 320px;
    margin-bottom: 30px;
    .thumb{
      overflow: hidden;
    }
    a{
      color: #000;
      &:hover{
        text-decoration: none;
        img{
          transform: scale(1.1);
        }
      }
    }
    img{
      height: 230px;
      width: 100%;
      object-fit: cover;
      transition: all .5s ease;
    }
    .title{
      color: #181818;
      font-size: 17px;
      font-weight: 700;
      line-height: 25px;
      margin: 10px 0;
      display: block;
    }
    .event-info{
      .city{
        margin-left: 15px;
      }
      span{
        color: #888888;
        font-size: 14px;
        text-transform: uppercase;
        i{
          margin-right: 5px;
        }
      }
    }
    .news-title{
      color: #181818;
      font-size: 17px;
      font-weight: 700;
      line-height: 25px;
      margin: 10px 0;
      transition: all .5s ease;
      display: block;
    }
    .news-info{
      color: #888888;
      font-size: 12px;
      text-transform: uppercase;
      .author{
        margin-left: 25px;
      }
    }
  }
}
.future-events{
  padding: 30px 30px 0;
}
a{
  &:focus, &:active, &:hover, &:visited{
    text-decoration: none;
  }
}
.load-more{
  border-radius: 0;
  margin-top: 10px;
  margin-bottom: 60px;
  box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.09);
  &:hover{
    background: @blue;
    color: white;
  }
}
.aligncenter{
  display: block;
  margin: 0 auto;
}

.single-title{
  color: #060709;
  font-size: 26px;
  font-weight: 700;
  display: block;
  margin: 30px 0;
}
.section-header{
  .date{
    color: #575757;
    font-size: 14px;
    text-transform: uppercase;
  }
  .views{
    color: #575757;
    font-size: 15px;
    text-transform: uppercase;
    margin-left: 20px;
    i{
      margin-right: 5px;
    }
  }
}

.single-post-content{
  padding: 25px;
  box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  color: #6f6f6f;
  font-size: 15px;
  line-height: 25px;
  blockquote{
    color: #060709;
    font-size: 18px;
    border-left: 2px solid black;
    padding-left: 10px;
    position: relative;
    margin-left: 80px;
    &:before{
      font-family: FontAwesome;
      content: "\f10e";
      color: #d5d5d5;
      font-size: 36px;
      position: absolute;
      left: -45px;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
    }
  }
}
.tag-list{
  margin: 30px 0;
  padding: 10px 0;
  list-style: none;
  overflow: hidden;
  li{
    float: left;
    display: block;
    margin-right: 15px;
    a{
      padding: 10px 20px;
      border: 1px solid black;
      color: #000;
      transition: all .5s ease;
      &:hover{
        border: 1px solid @blue;
        color: @blue;
      }
    }
  }
}

.comment-list{
  box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  padding: 25px;
  margin: 0;
  li{
    padding-bottom: 25px;
    border-bottom: 1px solid #e8e8e8;
    display: block;
    margin-top: 25px;
    p{
      margin: 0;
      color: #6f6f6f;
      font-size: 13px;
    }
    &:first-child{
      margin-top: 0;
    }

    .comment-head{
      display: block;
      overflow: hidden;
      margin-bottom: 15px;
      .comment-author{
        color: #060709;
        font-size: 16px;
        font-weight: 700;
        .time{
          color: #1d1d1d;
          font-weight: 300;
          font-size: 14px;
        }
      }
      .reply{
        a{
          color: #060709;
          font-size: 14px;
          font-weight: 500;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}
.comment-respond{
  box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  padding: 25px;
  .reply-title{
    color: #060709;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
  }
  form{
    .form-submit{
      margin-bottom: 0;
    }
    label{
      color: #060709;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      display: block;
      .required{
        color: red;
      }
    }
    input{
      background-color: #e8e8e8;
      border: none;
      width: 100%;
      padding: 10px 15px;
      &:active, &:focus{
        outline: none;
      }
    }
    textarea{
      background-color: #e8e8e8;
      border: none;
      width: 100%;
      padding: 10px 15px;
      resize: none;
      &:active, &:focus{
        outline: none;
      }
    }
    input[type="submit"]{
      background: @yellow;
      padding: 20px;
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: all .5s ease;
      &:hover{
        background: @blue;
        color: white;
      }
    }
  }
}
.comments-area{
  margin-bottom: 50px;
}
#comments-open{
  width: 100%;
  margin-bottom: 0;
  margin-top: 20px;
  &:hover{
    cursor: pointer;
  }
}
#comments-wrapp{
  display: none;
}
.trending-posts{
  overflow: hidden;
  clear: both;
  box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.09);
  background-color: #ffffff;
  margin: 25px auto;
  height: 500px;
  .main-post{
    padding-left: 0;
    .thumbnail{
      height: 100%;
      width: 100%;
      position: relative;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .overlay{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(0,0,0,.6);
      }
      .main-post-info{
        position: absolute;
        bottom: 25px;
        left: 25px;
        width: 80%;
        .title{
          color: #fefefe;
          font-size: 30px;
          font-weight: 600;
          line-height: 36px;
        }
        .meta{
          text-transform: uppercase;
          font-size: 14px;
          color: white;
          margin-top: 15px;
          .views{
            margin-left: 15px;
            i{
              margin-right: 5px;
            }
          }

        }
        .read-more{
          position: relative;
          margin-top: 30px;
          a{
            font-size: 12px;
            color: white;
            text-transform: uppercase;
            transition: all .5s ease;
            display: flex;
            align-items: center;
            &:after{
              content: '';
              height: 2px;
              background: white;
              width: 50px;
              margin-left: 20px;
              transition: background .5s ease;
            }
            &:hover{
              color: @blue;
              &:after{
                animation: animWidth 2s infinite;
                background: @blue;
              }
            }
          }
        }
      }

      .category{
        position: absolute;
        bottom: 0;
        right: 0;
        span{
          display: block;
          text-transform: uppercase;
          font-size: 14px;
          background: @blue;
          padding: 20px 40px;
          color: white;
        }
      }
    }
  }
  .recent-list{
    height: 100%;
    position: relative;
    .header{
      color: @blue;
      text-transform: uppercase;
      font-size: 17px;
      margin-top: 20px;
      display: block;
    }
    ul{
      padding: 0;
      margin: 0;
      list-style: none;
      li{
        padding: 20px 0 15px;
        border-bottom: 1px solid #e8e8e8;
        a{
          &:hover{
            .title{
              color: @blue;
            }
          }
        }
        .title{
          transition: all .5s ease;
          color: #1c1c1c;
          font-size: 15px;
          font-weight: 600;
          line-height: 21px;
        }
        .meta{
          overflow: hidden;
          margin-top: 10px;
          color: #888888;
          font-size: 12px;
          font-weight: 400;
          line-height: 21px;
          text-transform: uppercase;
        }
      }
    }
    .more-posts{
      position: absolute;
      bottom: 20px;
      a{
        font-size: 12px;
        color: black;
        text-transform: uppercase;
        transition: all .5s ease;
        display: flex;
        align-items: center;
        &:after{
          content: '';
          height: 2px;
          background: black;
          width: 50px;
          margin-left: 20px;
          transition: background .5s ease;
        }
        &:hover{
          color: @blue;
          &:after{
            animation: animWidth 2s infinite;
            background: @blue;
          }
        }
      }
    }
  }
}
@keyframes animWidth {
    0% {
      width: 50px;
      margin-left: 20px;
  }
  50% {
    width: 0;
    margin-left: 10px;
  }
  100%{
    width: 50px;
    margin-left: 20px;
  }
}

.contact-form{
  margin-bottom: 50px;
  .ccf-form-wrapper{
    margin: 0;

  }
  label{
    color: #060709;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
  }
  .form-control{
    border: none;
    background: #ebebeb;
    box-shadow: none;
    &:focus, &:active{
      outline: none;
      box-shadow: none;
    }
    padding: 10px 15px;
    font-size: 14px;
    resize: none;
    height: auto;
    border-radius: 0;
  }
  input[type="file"]{
    min-height: 70px;
    &::-webkit-file-upload-button{
      border: none;
      display: block;
      padding: 15px 40px;
      border-radius: 5px;
      background-color: #fecf0b;
      text-transform: uppercase;
      font-size: 14px;
      color: #000;
      font-weight: 600;
      transition: all .5s ease;
      &:hover{
        color: white;
        background: @blue;
      }
    }
  }
  .form-submit{

    input{
      display: block;
      text-align: center;
      border:none;
      background: @yellow;
      box-shadow: 0 2px 9px 1px rgba(0, 0, 0, 0.09);
      text-transform: uppercase;
      color: #000;
      font-size: 14px;
      padding: 20px;
      width: 100%;
      font-weight: 600;
      transition: all .5s ease;
      &:hover{
        background: @blue;
        color: #fff;
      }
    }
  }
}
.search-result{
  margin-bottom: 50px;
}